*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'Uber move' ;
    src: url(font/14f73a3f74611002.woff2);
}
@font-face {
    font-family: 'UbermoveText' ;
    src: url(font/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2);
}
@font-face {
    font-family: 'UbermoveText-2' ;
    src: url(font/276edd4275dda838.woff2);
}
@font-face {
    font-family: 'UbermoveText-3' ;
    src: url(font/eee1724e2e5a8ebd.woff2);
}
#ubertext-1{
    font-family:Uber move ;
}
#ubertext-2{
    font-family:UbermoveText ;
}
#ubertext-3{
    font-family:UbermoveText-2 ;
}
#ubertext-4{
    font-family:UbermoveText-3 ;
}
.heade{
  position: relative;
  width: 100vw;
  height:100vh;
  min-height: 872px;
  background-image: url(img/d8ceaf24a3164759.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.heade-top-part{
    display: flex;
    height: 48px;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0 16px;
    right: 0;
    left: 0;
    top: 0;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
     flex-direction: row;
}
.heade-top-part-svg-1{
    margin-top: 5px;
    margin-left: 2px;
    margin-right: 18px 
}
.heade-top-part-svg-2{
    margin-top: 5px;
    margin-left: 14;
}
.profile-button{
    display: inline-flex;
    height: 36px;
    width: 36px;
    background-color: white;
    margin-right: 12px;
    border-radius: 500px;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 16px;
    font-size: 14px;
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    box-sizing: border-box;
}
.loginbutton{
    display: inline-flex;
    height: 63px;
    height: 36px;
    border-radius: 20px;
    background: #fff;
    color: black;
    margin-right: 16px;
    -webkit-box-pack: center;
    align-items: center;
}
.loginbutton p{
    padding: 12px;
    line-height: 16px;
    font-size: 14px;
    white-space: nowrap;
}
.signup-button{
    width: 73.69px;
    background: #000;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
    -webkit-box-pack: center;
    justify-content: center;
    display: inline-flex;
    height: 36px;
    background: #000;
    border-radius: 500px;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    white-space: nowrap;
}
.signup-button p{
    padding: 8px 12px;
    line-height: 16px;
    font-weight: 500;
    font-size: 14px;
    color: #FFFF;
}
.heade-last-part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 56px 16px;
   
}
.heade-last-part-text{
    line-height: 44px;
    font-weight: 700;
    font-size:36px;  
    max-width: 387.77px;
    width: 100%;
    margin:0 16px;
}
.addr-box{
    display:flex;
    width: 100%;
    margin:0 16px;
    height:56px ;
    background-color: white;
    margin-top: 32px;
    max-width: 387.77px;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color:#4B4B4B ;
    align-items: center;
}
/* scroll time addr box-->*/
#addrboxtop{
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 72px;
    background: white;
    align-items: center;
    justify-content: center;
    align-content: center;
}
#addrboxtop div{
    display:flex;
    margin: top 8px;
    margin-left: 16px;
    margin-right: 16px; 
    height:56px ;
    font-weight: normal;
    color:#4B4B4B ;
    align-items: center;
    background: #f3f3f3;
    font-size: 16px;
    line-height: 24px;
}
#addrboxtop div p{
    margin-left: 12px;
}
#addrboxtop div img{
    margin-left: 16px;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
/* end*/
.time-box{
    display:flex;
    width: 100%;
    margin:0 16px;
    height:56px ;
    background-color: white;
    margin-top:8px;
    max-width: 387.77px;
    align-items: center;
    justify-content: space-between;
}
.search-box{
    width: 100%;
    margin-top: 16px;
     margin-left: 16px;
     margin-right: 16px;
    max-width: 387.77px;
    border-radius: 8px;
    padding: 5px 16px;
    min-height: 56px;
    font-size: 18px;
    background: #000;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 500;
    line-height: 24px;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    text-decoration: none;
    color: #FFFF;
    display:flex;

}
.sign-in-text{
    width: 100%;
    margin-top: 24px;
    height:56px;
    max-width: 387.77px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
}
.time-box-part-1{
    display: flex;
}
.time-box-part-1 p{
    font-size: 16px;
    line-height: 20px;
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-weight: 500;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    display: flex;
    margin-top: 2px;
}
.time-box-part-2{
  margin-right: 12px;
  margin-top: 5px;
}
.time-box-part-1 p,.addr-box p{
    margin-left: 12px;
}
.addr-box img,.time-box img{
    width: 24px;
    height: 24px;
    margin-left:16px ;
}
.main-body-dowload-part-1{
    display: flex;
    margin:0 16px;
    margin-top: 16px;
    gap: 16px; 
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}
.main-body-dowload-part-2{
    display: flex;
    background-color: #f3f3f3;
    height:56px;
    margin-top:16px;
    margin-left:  16px;
    margin-right:  16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.items div{
    margin:0 16px;
}
.items img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.item-p1{
    margin-top: 3px;
    line-height: 32px;
    font-size: 24px;
    font-weight: 700;
}
.item-p2{
    font-family:UbermoveText;
    margin-top: 8px;
    color: black;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}
.section-p{
    margin:0 16px;
    line-height: 32px;
    font-size: 24px;
    font-weight: 700;
}
.section-p2{
    margin:0 16px;
}
.map-img{
    background: url(img/Screenshot\ from\ 2024-07-03\ 14-08-56.png);
    object-fit: cover;
    margin:15px 16px;
    overflow: hidden; 
    background-position: center;
    background-repeat: no-repeat;
    height: 360px;
}
.grid-div{
    margin:0 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6,1fr);
    gap: 16px 8px;
    grid-auto-flow: column;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
}
.Countries-list{
    margin:0 16px; 
}
.grid-list-name{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows:repeat(15,1fr) ;
    gap: 24px 8px;
    grid-auto-flow: column;
    margin-top: 24px;
}
.grid-list-name p{
    line-height: 24px;
    font-weight: normal;
    font-size: 16px;
}
.section-p3{
    line-height: 32px;
    font-size: 24px;
    font-weight: 700; 
}
.section-p4{
    margin-bottom: 64px;
}
section{
    border-bottom: 1px soild #f3f3f3;
}
footer{
    border-top: 0.1px solid rgb(229, 229, 229);
    padding: 64px 16px 100px;
}
.footer-apple-play-img{
    margin-top: 47px;
   margin-bottom: 64px; 
}
.footer-text-1,.footer-text-2{
    margin-bottom: 64px;
}
.footer-text-1 p,.footer-text-2 p{
   margin-bottom: 16px;
   line-height: 24px;
   font-weight: normal;
   font-size: 16px;
}
.footer-social-img{
    margin-bottom: 40px;
}
.footer-social-img img{
    margin-right:24px ;
}
.footer-text-3 p
{
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: normal;
}


@media (max-width:1023px) {
    .loginbutton{
        display: none;
    }
    .heade-last-part-desk{
        display: none;
    }
}

@media (min-width:1023px) {
    .heade{
        position: relative;
        width: 100vw;
        height:100vh;
        min-height: 872px;
        background-image: url(img/c413f20400e04805.webp);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
  .heade-top-part{
    height: 64px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 280px;
  }
   .heade-top-part-svg-1{
    display: none;
   }
   .heade-top-part-svg-2{
     margin-left: -6px;
   }
   .profile-button{
    display: none;
   }
   .heade-last-part{
    display:none;
   }
   .heade-last-part-desk{
    justify-content: space-around;
    padding:0 40px;
    min-width: 1024;
    max-width: 1920px;
    width: 100%;
    box-sizing: border-box;
    height: 200px;
   }
   .heade-last-part-text{
       max-width: 60%;
       margin-left: 0;
       margin-bottom: 40px;
       line-height: 64px;
       font-size: 52px;
       font-weight: 700;
   }
   .heade-last-part-desk-flexe{
    margin-top: 40px;
    display: flex;
    align-items: center;
    height: 56px;
   }
   .heade-last-part-desk-flexe div{
      padding: 5px;
   }
   .addr-box,.search-box,.time-box{
    margin: 0;
    margin-right: 8px;
    display: flex;
    height: 46px;
    align-items: center;
   }
   .addr-box{
    width: 490px;
    max-width: 490px;
   }
   .time-box{
    width: 181px;
    max-width: 181px;
   }
   .time-box img:first-child{
    margin-left:5px;
   }
   .time-box img:last-child{
    margin-left: 10px;
   }
   .time-box-part-2{
    width:20px;
    max-width: 120px;
    
   }
   .search-box{
     width: 132px;
     max-width:132px ;
   }
}




